.hljs {
  padding: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Cabino&display=swap');


body {
  font-family: Cabin, Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
  color: #16436A;
}

a {
  color: #16436A;
}

.main {
  width: 700px;
  padding: 32px 10px 20px 50px;
  margin-left: 260px;
  border-left: 3px;
  border-left-style: solid;
  border-color: #16436A;
  min-height: calc(100vh - 60px);
}

