.hljs {
  padding: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Cabino&display=swap');


body {
  font-family: Cabin, Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
  color: #16436A;
}

a {
  color: #16436A;
}

