.remark-slide-content p, ul, ol, li {
  font-size: 2rem;
}

body {
  color: #16436A;
}

h1 {
  font-weight: normal;
  color: #95C04C;
}

h2, h3 {
  font-weight: normal;
  color: #0392bb;
}

.shout { color: #95C04C; 
  font-family: 'Rock Salt', cursive;
}

/* link color */
a, a > code {
  color: #95C04C;
}

/* unvisited link */
a:link {
    color: #95C04C;
}

/* visited link */
a:visited {
    color: #95C04C;
}

/* mouse over link */
a:hover {
    color: #A9E1BA;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #A9E1BA;
    text-decoration: underline;
}

.remark-code {
  color: #16436A;
}

.remark-inline-code { 
  color: #95C04C;
}

.remark-code-line-highlighted { 
  background-color: #A9E1BA; 
}

.inverse {
  background-color: #16436A;
  color: #F7FBFE;
  text-shadow: 0 0;
}

.inverse h1 {
  text-shadow: 0 0 20px #333;
}

.inverse .remark-code {
  color: #16436A;
}

.inverse a { 
  color: #A9E1BA;
  text-decoration: none;
}

.inverse a:hover { 
  color: #95C04C;
  text-decoration: underline;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 92%;
  float: left;
  font-size: 18px;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }

.inverse .remark-inline-code { 
  color: white;
}

.title-slide .remark-slide-number {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.module {
  background: 
    url("../assets/sun.png");
  background-size: cover;
  width: 150px;
  height: 150px;
  margin: 1px 0 0 1px;
  position: relative;
  float: right;
}
